<!-- <p> Value of a: {{a}}</p>
<p> Value of b: {{b}}</p>
<p> Addition is: {{ans}}</p>

<img [src]="imgSrc" alt = "">

<button type="submit" (click) = "display('Welcome')"> Click Me! </button>
<br/><br/>
<input type="text" (keydown) = "isShift($event)"/>
<br/><br/> 
<p> Two way binding example</p> 
<input type="text" [(ngModel)] = "inputVal"/>
<button type="submit" (click) = "show()"> Show Me! </button>
<h1>{{dynamicVal}}</h1>

<div class = "container">
  <h1> Counter Example </h1>
  <div class="btn-container">
    <button (click) = "counter('decr')"> -- </button>
    <p>{{count}}</p>
    <button (click) = "counter('incr')"> ++ </button>
  </div>
</div>

<button (click) = "showNgIf()"> Show NgIf </button>
<div *ngIf = "displayElement"> Div element </div>

<ul>
  <li *ngFor = "let item of listItems"> {{item.name}} is {{item.age}} years old    
  </li>
</ul>

<div class="containerNgSwitch"> 
  <label> Enter your age:</label>
  <input type="text" (input)="checkEligibility()" [(ngModel)]="age"/>
  <div [ngSwitch]="isEligible">
    <p *ngSwitchCase="true"> You are eligible to vote </p>
    <p *ngSwitchDefault> You are not eligible to vote </p>
  </div>
</div> 

<button (click)="toggleMode()"> Click Me </button>
<div class="box" [ngClass]="colorMode">
  <h1> Light Mode </h1>
  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>

</div>
<div class="box" [ngClass]="colorMode">
  <h1> Dark Mode </h1>
  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
  
</div> -->

<form> 
  <h1> Submit Form</h1>
  <div class="form-group">
    <label for="name"> Name </label>
    <input type="text" name="name" required/>
  </div>

  <div class="form-group">
    <label for="email"> Email </label>
    <input type="email" name="email" required/>
  </div>
  <button type="submit"> Submit </button>
</form>